body {
    width: 1500px;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Helvetica Neue';
}

header {
    height: 158px;
    justify-content: space-between;
}

/* Menu */
.ha {
    background-color: black;
    color: white;
    padding: 1rem;
    width: 1475px;
    height: 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

.hb {
    background-image: url("/static/image/logo.png");
    background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    background-position: left;
    padding: 10px;
    width: 50px;
    height: 30px;
    margin-top: 20px;
    margin-left: 30px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    align-items: center;
    line-height: normal;
    gap: 10px;
}

nav ul {
  list-style: none;           /* remove os bullets da lista */
  display: flex;              /* transforma os <li> em linha */
  gap: 5px;                  /* espaçamento entre os links */
  align-items: center;
  justify-content: center;
  margin-left: 260px;
}

.btn {
  color: black;
  text-decoration: none;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: normal;
  margin-left: 100px;
}

.hc {
    background-color: #e0e0e0;
    padding: 1rem;
    width: 1475px;
    height: 25px;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    line-height: normal;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

/* Barra de pesquisa */
.buscar {
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: flex-start;
    float: left;
    text-align: left;
    margin-left: 100px;
}

.buscar input {
    flex: 1;
    padding: 8px 12px;
    border: 1px solid #ffffff;
    border-radius: 25px 0 0 25px;
    outline: none;
    background-color: #dcdcdc;
}

/* Ícones do Menu*/
.perfil {
    margin-left: 28px;
    white-space: nowrap;
    word-spacing: 10px;
}

/* Fim do Menu */

/* Imagem fundo */
.image {
    background-image: url("/static/image/tenis.png");
    background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    background-position: center; /* Centraliza a imagem */
    width: 1500px;
    height: 700px;
    margin-top: 30px;
}

.sub {
    display: block;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 100px;
    position: absolute;
    margin-top: 160px;
    font-size: 22px;
    max-width: 500px;
}

.c1 {
    display: block;
    color: black;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    position: absolute;
    margin-top: 370px;
    border-radius: 20px;
}

/* MAIN */

.fti {
    font-size: 22px;
    margin-top: 120px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 20px;
}

.cht {
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
    color: white;
}

.cht1 {
    background-image: url("/static/image/chu1.jpg");
    background-size: cover;
    width: 750px;
    height: 450px;
    background-repeat: no-repeat;
    margin-top: -500px;
}

.cht2 {
    background-image: url("/static/image/chu2.jpg");
    background-size: cover;
    width: 750px;
    height: 450px;
    margin-left: 750px;
    margin-top: -370px;
    background-repeat: no-repeat;
}

.linha {
  border-bottom: 1px solid gray;
  width: 700px;
  margin: 20px 0;
  margin-left: 20px;
  margin-top: -35px;
}

.linha2 {
  border-bottom: 1px solid gray;
  width: 700px;
  margin: 20px 0;
  margin-left: 780px;
  margin-top: 80px;
}

.cat {
    font-size: 22px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 20px;
    margin-top: 100px;
}

.container {
    display: flex;              /* coloca lado a lado */
    justify-content: center;    /* centraliza no meio da tela */
    align-items: center;        /* alinha verticalmente */
    gap: 80px;                  /* espaço entre as imagens */
    margin-top: 30px;
}

.container img {
    height: 500px;              /* altura fixa */
    object-fit: contain;        /* garante que não deforme */
    background-size: cover;
}

.textimg1 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -100px;
    position: relative;
    max-width: 180px;
    min-width: 200px;
    margin-left: 610px;
    border-radius: 20px;
    text-align: center;
}

.textimg2 {
    background-color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -62px;
    position: relative;
    max-width: 200px;
    min-width: 200px;
    margin-left: 100px;
    border-radius: 20px;
}

.textimg3 {
    background-color: white;
    display: inline-block;
    justify-content: center;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -58px;
    position: relative;
    padding: 4px 4px;
    max-width: 200px;
    min-width: 100px;
    margin-left: 1120px;
    border-radius: 20px;
    text-align: center;
}

.textimg {
    display: flex;
    justify-content: center; 
    gap: 180px;
    margin-top: -110px;
}

.textimg a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;                  
    justify-content: center;        
    align-items: center;           
    width: 150px;                   
    height: 50px;                   
    background-color: white;      
    color: black;                            
    font-size: 18px;
    border-radius: 8px;   
    margin-right: 80px;          
}