body {
    width: 1500px;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Helvetica Neue';
}

.page-wrapper {
  width: 100%;
  height: auto;
}

header {
    height: 158px;
    justify-content: space-between;
}

/* Menu */

.ha {
    background-color: black;
    color: white;
    padding: 1rem;
    width: 1475px;
    height: 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

.hb {
    background-position: left;
    background-color: white;
    padding: 10px;
    width: 50px;
    height: 30px;
    margin-top: 20px;
    margin-left: 30px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    align-items: center;
    line-height: normal;
    gap: 10px;
}

nav ul {
  list-style: none;           /* remove os bullets da lista */
  display: flex;              /* transforma os <li> em linha */
  gap: 5px;                  /* espaçamento entre os links */
  align-items: center;
  justify-content: center;
  margin-left: 160px;
}

.btn {
    display: inline-block;
  color: black;
  text-decoration: none;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: normal;
  margin-left: 80px;
  transition: background-color 0.3s ease; /* efeito suave */
}

.btn:hover {
  background-color: #bbb;
}

.btn2 {
  color: #111;
  transition: background-color 0.3s ease; /* efeito suave */
}

.btn2:hover {
  background-color: #bbb;
}

.cag {
    margin-right: 90px;
}

.site-header {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px 20px;
  margin-right: 100px;
}

.logo {
  gap: 8px;
}

.logo img {
  margin-right: 50px;
  height: 50px;                   /* ajuste o tamanho da sua logo */
  width: auto;
}

.logo:hover {                     /* feedback de hover */
  opacity: 1.00;
}

.hc {
    background-color: #e0e0e0;
    padding: 1rem;
    width: 1475px;
    height: 25px;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    line-height: normal;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

/* Barra de pesquisa */
.buscar {
    display: flex;
    width: 200px;
    justify-content: flex-start;
    float: left;
    text-align: left;
    gap: -30px;
    margin-left: 160px;
}

.buscar input {
    flex: 1;
    padding: 8px 12px;
    border: 1px solid #ffffff;
    border-radius: 25px 0 0 25px;
    outline: none;
    background-color: #dcdcdc;
}

/* Ícones do Menu*/
.icones {
  display: flex;            /* coloca os ícones lado a lado */
  gap: 12px;                /* espaço entre eles */
  align-items: center;      /* alinha verticalmente */
  margin-left: 10px;
}

.icones .icon {
  text-decoration: none;    /* remove sublinhado */
  color: black;             /* cor do ícone */
  font-size: 18px;          /* tamanho do ícone */
  transition: 0.3s;
}

/* Fim do Menu */

/* Imagem fundo */
.image {
    background-image: url("/static/image/tenis.png");
    background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    background-position: center; /* Centraliza a imagem */
    width: 1507px;
    height: 700px;
    margin-top: 30px;
}

.sub {
    display: block;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 100px;
    position: absolute;
    margin-top: 160px;
    font-size: 22px;
    max-width: 500px;
}

.c1 {
  text-decoration: none;
    display: block;
    color: black;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    position: absolute;
    margin-top: 370px;
    border-radius: 20px;
    min-width: 100px;
}

/* MAIN */

.fti {
    font-size: 22px;
    margin-top: 120px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 20px;
}

.cht {
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
    color: white;
}

.cht1 {
    background-image: url("/static/image/chu1.jpg");
    background-size: cover;
    width: 750px;
    height: 450px;
    background-repeat: no-repeat;
    margin-top: -500px;
}

.cht2 {
    background-image: url("/static/image/chu2.jpg");
    background-size: cover;
    width: 757px;
    height: 450px;
    margin-left: 750px;
    margin-top: -370px;
    background-repeat: no-repeat;
}

.linha {
  border-bottom: 1px solid gray;
  width: 700px;
  margin: 20px 0;
  margin-left: 20px;
  margin-top: -35px;
}

.linha2 {
  border-bottom: 1px solid gray;
  width: 700px;
  margin: 20px 0;
  margin-left: 780px;
  margin-top: 80px;
}

.cat {
    font-size: 22px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 20px;
    margin-top: 100px;
}

.container1 {
    display: flex;              /* coloca lado a lado */
    justify-content: center;    /* centraliza no meio da tela */
    align-items: center;        /* alinha verticalmente */
    gap: 80px;                  /* espaço entre as imagens */
    margin-top: 30px;
}

.container1 img {
    height: 500px;              /* altura fixa */
    object-fit: contain;        /* garante que não deforme */
    background-size: cover;
}

.textimg1 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -100px;
    position: relative;
    max-width: 180px;
    min-width: 200px;
    margin-left: 610px;
    border-radius: 20px;
    text-align: center;
}

.textimg2 {
    background-color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -62px;
    position: relative;
    max-width: 200px;
    min-width: 200px;
    margin-left: 100px;
    border-radius: 20px;
}

.textimg3 {
    background-color: white;
    display: inline-block;
    justify-content: center;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -58px;
    position: relative;
    padding: 4px 4px;
    max-width: 200px;
    min-width: 100px;
    margin-left: 1120px;
    border-radius: 20px;
    text-align: center;
}

.textimg {
    display: flex;
    justify-content: center; 
    gap: 180px;
    margin-top: -110px;
}

.textimg a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;                  
    justify-content: center;        
    align-items: center;           
    width: 150px;                   
    height: 50px;                   
    background-color: white;      
    color: black;                            
    font-size: 18px;
    border-radius: 8px;   
    margin-right: 80px;          
}

.par {
    font-size: 22px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 20px;
    margin-top: 60px;
}

.container2 {
    display: flex;              /* coloca lado a lado */
    justify-content: center;    /* centraliza no meio da tela */
    align-items: center;        /* alinha verticalmente */ 
    margin-top: -40px; 
    margin-right: 100px;                /* espaço entre as imagens */
}

.container2 img {
    width: 280px;
    height: 500px;              /* altura fixa */
    object-fit: contain;        /* garante que não deforme */
}

.textma {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    display: flex;
    gap: 300px;
    text-align: center;
    justify-content: center;
    margin-top: -150px;
}

    footer {
        width: 1465px;
      background-color: #111;
      color: #fff;
      padding: 40px 20px;
      margin-top: 80px;
      font-family: Arial, Helvetica, sans-serif;
    }

    .footer-container {
      max-width: 1200px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
    }

    .footer-marca {
      flex: 1 1 200px;
      max-width: 250px;
    }

    .footer-marca h2 {
      color: white;
      margin-bottom: 10px;
    }

    .footer-cbc {
      flex: 1 1 200px;
      margin-left: 180px;
    }

    .footer-cbc h3 {
      margin-bottom: 10px;
      font-size: 16px;
      color: #ffffff;
    }

    .footer-cbc ul {
      list-style: none;
      padding: 0;
    }

    .footer-cbc ul li {
      margin-bottom: 8px;
    }

    .footer-cbc ul li a {
      color: #bbb;
      text-decoration: none;
      transition: color 0.3s;
    }

    .footer-cbc ul li a:hover {
      color: #ffffff;
    }

    .footer-icons {
      flex: 1 1 200px;
    }

    .footer-icons h3 {
      margin-bottom: 10px;
      font-size: 16px;
      color: #ffffff;
    }

    .footer-icons i {
      margin-right: 15px;
      font-size: 20px;
      color: #bbb;
      text-decoration: none;
      transition: color 0.3s;
    }

    .footer-icons i:hover {
      color: #ffffff;
    }

    .footer-contato {
        flex: 1 1 200px;
    }

    .footer-contato h2 {
        color: #bbb;
        font-size: 15px;
        margin-top: -18px;
        margin-left: 28px;
    }
 
    .footer-contato i {
        color: #bbb;
        display: flex;
    }

    .footer-final {
      text-align: center;
      margin-top: 20px;
      font-size: 14px;
      color: #777;
      border-top: 1px solid #333;
      padding-top: 15px;
    }

        @media (max-width: 1800px){
  .topbar__inner{ min-height: 56px; }
  .page-title{ font-size: 22px; }
}