<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{url_for ('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    <header>
        <div class="ha">
            <h5>Acessibilidade  |  Guia de produtos  |  Acompanhe seu pedido  |  Ajuda  |  Junte-se a nós</h5>
        </div>

        <div class="hb">
            <header class="site-header">
  <a href="{{ url_for('home') }}" class="logo" aria-label="Ir para a página inicial">
    <img src="{{ url_for('static', filename='image/logo.png') }}" alt="StepUp" />
  </a>
            <nav>
                <ul>
                    <li><a href="{{ url_for('masc') }}" class="btn">Masculino</a></li>
                    <li><a href="{{ url_for('fem') }}" class="btn">Feminino</a></li>
                    <li><a href="{{ url_for('lanc') }}" class="btn">Lançamento</a></li>
                    <li><a href="{{ url_for('prom') }}" class="btn">Promoção</a></li>
                </ul>
            </nav>
            <div class="buscar">
                <input type="text" placeholder="Buscar">
            <div class="icones">
                <a href="{{ url_for('cadastro') }}" class="icon">
                    <i class="fas fa-user"></i>
                </a>
                <a href="{{ url_for('favoritos') }}" class="icon">
                    <i class="fas fa-heart"></i>
                </a>
                <a href="{{ url_for('bolsa') }}" class="icon">
                    <i class="fa fa-shopping-bag"></i>
                </a>
            </div>
            </div>
        </div>

        <div class="hc">
            <h4>DIVERSAS opções PARA VOCÊ!</h4>
        </div>
    </header>
        <div class="sub">
            <h1>PURA VERSATILIDADE
             QUE ACOMPANHA SEU RITMO!</h1>
        </div>
        <div class="c1">
            <h3 class="cag"><a href="{{ url_for('esp') }}" class="btn">COMPRE AGORA <i class="	fas fa-arrow-right"> </i></a></h3>
        </div>
        <div class="image">
        </div>
        <main>

        <div class="fti">
            <h1>NA CONTAGEM REGRESSIVA...</h1>
        </div>

        <div class="linha2"></div>

        <div class="cht">
            <h1>CHUTEIRAS</h1>
            <h6>NIKE x ADIDAS x PUMA</h6>
        </div>

        <div class="cht1">
        </div>

        <div class="cht2">
        </div>

        <div class="linha"></div>

        <div class="cat">
            <h1>CATEGORIA</h1>
        </div>

        <div class="container1">
            <img src="static/image/men.avif" alt="Imagem 1">
            <img src="static/image/women.avif" alt="Imagem 2">
            <img src="static/image/esportivo.avif" alt="Imagem 3">
        </div>
        
        <div class="textimg">
            <h4><a href="{{ url_for('masc') }}" class="btn">Homem</a></h4>
            <h4><a href="{{ url_for('fem') }}" class="btn">Mulher</a></h4>
            <h4><a href="{{ url_for('esp') }}" class="btn">Esportivo</a></h4>
        </div>

        <div class="par">
            <h1>PARCERIA</h1>
        </div>

        <div class="container2">
            <h4><a href="{{ url_for('nike') }}" class="btn"><img src="static/image/Nike.png" alt="Imagem 1"></a></h4>
            <h4><a href="{{ url_for('mormaii') }}" class="btn"><img src="static/image/Mormaii.png" alt="Imagem 2"></a></h4>
            <h4><a href="{{ url_for('puma') }}" class="btn"><img src="static/image/Puma.png" alt="Imagem 3"></a></h4>
            <h4><a href="{{ url_for('adidas') }}" class="btn"><img src="static/image/Adidas.png" alt="Imagem 4"></a></h4>
        </div>

        <div class="textma">
            <p>Nike</p>
            <p>Mormaii</p>
            <p>Puma</p>
            <p>Adidas</p>
        </div>

        </main>

    <footer>
    <div class="footer-container">
      <div class="footer-marca">
        <h2>StepUp</h2>
        <p>Revendedor oficial de tênis originais. Dê o próximo passo com estilo!</p>
      </div>

      <div class="footer-cbc">
        <h3>Links</h3>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Ajuda</a></li>
          <li><a href="#">Sobre nós</a></li>
          <li><a href="#">Acessibilidade</a></li>
        </ul>
      </div>

      <div class="footer-icons">
        <h3>Siga-nos</h3>
        <i class="fab fa-facebook-f"> </i>
        <i class="fab fa-instagram"> </i>
        <i class="fab fa-twitter"> </i>
        <i class="fab fa-youtube-square"> </i>
      </div>
      <div class="footer-contato">
        <h3>Contato</h3>
        <i class="	fab fa-whatsapp"> </i>
        <h2>(87) 9 8133-1430</h2>
      </div>
    </div>

    <div class="footer-final">
      &copy; 2025 StepUp - Todos os direitos reservados.
    </div>
  </footer>
    
</body>
</html>