<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{url_for ('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    <header>
        <div class="ha">
            <h5>Acessibilidade  |  Guia de produtos  |  Acompanhe seu pedido  |  Ajuda  |  Junte-se a nós  |  Entrar  </h5>
        </div>

        <div class="hb">
            <div class="buscar">
                <input type="text" placeholder="Buscar">
                <div class="fav">
                    <i class="fas fa-heart"> </i>
                </div>
            </div>

        <div class="hc">
            <h4>DIVERSAS opções PARA VOCÊ!</h4>
        </div>
    </header>
    <div class="sub">
        <h3>PURA VERSATILIDADE QUE ACOMPANHA SEU RITMO!</h3>
    </div>
    <div class="c1">
        <h3>COMPRE AGORA <i class="	fas fa-arrow-right"> </i></h3>
    </div>
    <div class="image">
    </div>
    <main>
        

    </main>
    
</body>
</html>