<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{url_for ('static', filename='css/styleMA.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">

</head>
<body>
          <header>
         <div class="ha">
            <h5>Acessibilidade  |  Guia de produtos  |  Acompanhe seu pedido  |  Ajuda  |  Junte-se a nós</h5>
        </div>

        <div class="hb">
            <header class="site-header">
  <a href="{{ url_for('home') }}" class="logo" aria-label="Ir para a página inicial">
    <img src="{{ url_for('static', filename='image/logo.png') }}" alt="StepUp" />
  </a>
            <nav>
                <ul>
                    <li><a href="{{ url_for('masc') }}" class="btn">Masculino</a></li>
                    <li><a href="{{ url_for('fem') }}" class="btn">Feminino</a></li>
                    <li><a href="{{ url_for('lanc') }}" class="btn">Lançamento</a></li>
                    <li><a href="{{ url_for('prom') }}" class="btn">Promoção</a></li>
                </ul>
            </nav>
            <div class="buscar">
                <input type="text" placeholder="Buscar">
            <div class="icones">
                <a href="{{ url_for('cadastro') }}" class="btn2" class="icon">
                    <i class="fas fa-user"></i>
                </a>
                <a href="{{ url_for('favoritos') }}" class="btn2" class="icon">
                    <i class="fas fa-heart"></i>
                </a>
                <a href="{{ url_for('bolsa') }}" class="btn2" class="icon">
                    <i class="fa fa-shopping-bag"></i>
                </a>
            </div>
            </div>
        </div>

        <div class="hc">
            <h4>DIVERSAS opções PARA VOCÊ!</h4>
        </div>
    </header>

      <div class="Produtos">
        <h5>Página Inicial / Masculino</h5>
        <h1>Produtos MASCULINO</h1>
    </div>

    <div class="filtro">

    <div class="linha"></div>

    <div class="tam">
        <h4>Tamanho</h4>
    </div>

    <div class="linha1"></div>

    <div class="tamanhos">
        <button>34</button>
        <button>34,5</button>
        <button>35</button>
        <button>35,5</button>
        <button>36</button>
        <button>36,5</button>
        <button>37</button>
        <button>37,5</button>
        <button>38</button>
        <button>38,5</button>
        <button>39</button>
        <button>39,5</button>
        <button>40</button>
        <button>40,5</button>
        <button>41</button>
        <button>42</button>
        <button>43</button>
        <button>44</button>
        <button>45</button>
        <button>46</button>
    </div>

    <div class="linha2"></div>

    <div class="pre">
        <h4>Preço</h4>
    </div>

    <div class="linha3"></div>

    <div class="filtros-preco">
        <label>
            <input type="checkbox"> R$ 100 - R$ 200
        </label>
        <label>
            <input type="checkbox"> R$ 200 - R$ 300
        </label>
        <label>
            <input type="checkbox"> R$ 300 - R$ 400
        </label>
        <label>
            <input type="checkbox"> R$ 400 - R$ 500
        </label>
        <label>
            <input type="checkbox"> Acima de R$ 500
        </label>

    </div>

    <div class="linha4"></div>

    </div>

    <div class="container1">
        <img src="static/image/pumaP.jpeg" alt="Imagem 1">
        <img src="static/image/pumaB.jpeg" alt="Imagem 2">
        <img src="static/image/nikeP.jpeg" alt="Imagem 3">
    </div>

    <div class="fch1">
        <h2>Tênis de Treino PWR Hybrid Masculino</h2>
        <p>Esportivo</p>
        <p>
            <span class="preco1">R$ 479,99 À vista</span>
            <span class="antigo-preco1">R$ 599,99</span>
            <span class="desconto1">20% off</span>
        </p>
        <p>
            <span class="estrelas6">★★★★☆</span>
            <span class="nota3">4.8</span>
        </p>
    </div>

    <div class="fch2">
        <h2>Tênis Speedcat Faded Unissex</h2>
        <p>Casual</p>
        <p>
            <span class="preco2">R$ 679,99 À vista</span>
            <span class="antigo-preco2">R$ 799,99</span>
            <span class="desconto2">15% off</span>
        </p>
        <p>
            <span class="estrelas1">★★★★☆</span>
            <span class="nota1">4.8</span>
        </p>
    </div>

        <div class="fch3">
        <h2>Tênis Nike Court Vision Low Next Nature Masculino</h2>
        <p>Casual</p>
        <p>
            <span class="preco3">R$ 379,99 À vista</span>
        </p>
        <p>
            <span class="estrelas5">★★★☆☆</span>
            <span class="nota5">3.9</span>
        </p>
    </div>

    <div class="container2">
        <img src="static/image/nikeL.jpeg" alt="Imagem 1">
        <img src="static/image/nikeE.jpeg" alt="Imagem 2">
        <img src="static/image/pumaA.jpeg" alt="Imagem 3">
    </div>

        <div class="fch4">
        <h2>Tênis Nike Air Force 1'07 Masculino</h2>
        <p>Esportivo</p>
        <p>
            <span class="preco4">R$ 479,99 À vista</span>
        </p>
        <p>
            <span class="estrelas6">★★★★☆</span>
            <span class="nota3">4.0</span>
        </p>
    </div>

    <div class="fch5">
        <h2>Tênis Nike Air Max Portal SE Unissex</h2>
        <p>Esportivo</p>
        <p>
            <span class="preco5">R$ 688,49 À vista</span>
            <span class="antigo-preco3">R$ 809,99</span>
            <span class="desconto3">15% off</span>
        </p>
        <p>
            <span class="estrelas2">★★★★☆</span>
            <span class="nota2">4.2</span>
        </p>
    </div>

        <div class="fch6">
       <h2>Tênis de Corrida Electrify NITRO™ 4 Masculino</h2>
        <p>Esportivo</p>
        <p>
            <span class="preco6">R$ 539,99 À vista</span>
            <span class="antigo-preco4">R$ 599,99</span>
            <span class="desconto4">10% off</span>
        </p>
        <p>
            <span class="estrelas2">★★★★☆</span>
            <span class="nota2">4.4</span>
        </p>
    </div>

    <div class="linha6"></div>

    <div class="linha5"></div>

    <footer>
    <div class="footer-container">
      <div class="footer-marca">
        <h2>StepUp</h2>
        <p>Revendedor oficial de tênis originais. Dê o próximo passo com estilo!</p>
      </div>

      <div class="footer-cbc">
        <h3>Links</h3>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Ajuda</a></li>
          <li><a href="#">Sobre nós</a></li>
          <li><a href="#">Acessibilidade</a></li>
        </ul>
      </div>

      <div class="footer-icons">
        <h3>Siga-nos</h3>
        <i class="fab fa-facebook-f"> </i>
        <i class="fab fa-instagram"> </i>
        <i class="fab fa-twitter"> </i>
        <i class="fab fa-youtube-square"> </i>
      </div>
      <div class="footer-contato">
        <h3>Contato</h3>
        <i class="	fab fa-whatsapp"> </i>
        <h2>(87) 9 8133-1430</h2>
      </div>
    </div>

    <div class="footer-final">
      &copy; 2025 StepUp - Todos os direitos reservados.
    </div>
  </footer>
    
</body>
</html>