<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

        <link rel="stylesheet" href="{{url_for ('static', filename='css/stylePRO.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
                <div class="ha">
            <h5>Acessibilidade  |  Guia de produtos  |  Acompanhe seu pedido  |  Ajuda  |  Junte-se a nós</h5>
        </div>

        <div class="hb">
            <div class="tit"><h4>Masculino Feminino Lançamento Promoção</h4></div>
            <div class="buscar">
                <input type="text" placeholder="Buscar">
                <div class="perfil">
                    <i class="fas fa-user-alt"> </i> <i class="fas fa-heart"> </i> <i class="	fa fa-shopping-bag"> </i>
                </div>
            </div>
        </div>

        <div class="hc">
            <h4>DIVERSAS opções PARA VOCÊ!</h4>
        </div>
    
    
</body>
</html>